input*
wrs2_asc_desc
run
shapes/
diff
conv
Elevation
results
.vscode
*.nc
out
out2
out3
tal_converted.tif
correct_tifs
correct_tifs_converted
diff_tifs
analise_cold_pixel
analise_hot_pixel
new_execution
testandoComEPS
testeCold
defined_pixels_select
diff_file.txt
results2
test/diftiffs2703
test/Outs
Testes
test/Teste*
test/outputR
test/*.tar.gz
outputR
testeS
teste.RData
.R*
LC*
test/ET24h_diff.tif
test/ET24h_diffPer.tif
test/ET24h_diff_t.tif
test/ET24h_mask_conv.tif
test/NDVI_diff.tif
test/conv2
test/converter2.cpp
test/diffPer
test/diffPer.cpp
test/outET24h
test/outET24hMeeeh
test/outET24hPer
test/outNDVI
test/outRah
.vscode
scripts/