input*
wrs2_asc_desc
run
diff
conv
Elevation
results
.vscode
out
out2
out3
tal_converted.tif
correct_tifs
correct_tifs_converted
diff_tifs
analise_cold_pixel
analise_hot_pixel
new_execution
testandoComEPS
testeCold
defined_pixels_select
diff_file.txt
results2
test/diftiffs2703
test/Outs
Testes
test/Teste*
test/outputR
outputR
testeS
